PORT=3000

DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=change_me
DB_NAME=magia_das_velas

SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=

JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me

MERCADO_PAGO_ACCESS_TOKEN=change_me
MERCADO_PAGO_WEBHOOK_SECRET=change_me

FRONTEND_URL=http://localhost:5173
APP_URL=http://localhost:5173